.navbar__main {
  display: flex;
  height: 7rem;
  background-color: rgb(131, 211, 131);
  font-size: 3.5rem;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.navbar__name {
  font-size: 1rem;
}